.installation {
  &__steps {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;

    &,
    li {
      display: block;
    }

    li {
      padding: 16px 0 16px 40px;
      position: relative;
    }

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      &.ski {
        // Reposition check icon
        font-size: 40px;
        line-height: 24px;
      }

      &.sk-loader-small {
        top: 11px;
      }
    }
  }
}

.card {
  box-shadow: 0 1px 6px 0 rgba(211,214,224,.5);
  border-radius: 3px;
  position: relative;
  background: $white-1;
  padding: $global-padding-large;
  margin-bottom: $global-padding-large;

  > div {
    p:last-child {
      margin-bottom: 0;
    }
  }
}
