//
// 12 Grid system for Web and Mobile app
// --------------------------------------------------

.row {
  position:relative;
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

[class*='small-'] {
  float: left;
  position:relative;
  padding-right: $global-padding;

  &:last-child {
      padding-right: 0;
  }
}
.small-1 {
  width: 8.3333%;
}
.small-2 {
  width: 16.6666%;
}
.small-3 {
  width: 25%;
}
.small-4 {
  width: 33.3333%;
}
.small-5 {
  width: 41.6666%;
}
.small-6 {
  width: 50%;
}
.small-7 {
  width: 58.3333%;
}
.small-8 {
  width: 66.6666%;
}
.small-9 {
  width: 75%;
}
.small-10 {
  width: 83.3333%;
}
.small-11 {
  width: 91.6666%;
}
.small-12 {
  width: 100%;
}
