.scroll {
  @include scroll-style;
  @include scroll-vertical;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.relative {
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-max;
  background: rgba(255, 255, 255, 0.85);
}

.center-in-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// All icons must have the global icon font size
.ski {
  font-size: $global-icon-font-size;
}

// Other icons
.ski-chevron-left {
  @extend .ski-chevron;
  transform: rotate(90deg);
}

.ski-chevron-right {
  @extend .ski-chevron;
  transform: rotate(270deg);
}

.ski-chevron-up {
  @extend .ski-chevron;
  transform: rotate(180deg);
}

.padding {
  padding: $global-padding;
}

.padding-2x {
  padding: $global-padding*2;
}

.padding-half {
  padding: $global-padding/2;
}

.padding-half-right {
  padding-right: $global-padding/2;
}

.padding-top {
  padding-top: $global-padding !important;
}

.padding-right {
  padding-right: $global-padding !important;
}

.padding-bottom {
  padding-bottom: $global-padding !important;
}

.padding-left {
  padding-left: $global-padding !important;
}

.rm-padding-top {
  padding-top: 0 !important;
}

.rm-padding-right {
  padding-right: 0 !important;
}

.rm-padding-bottom {
  padding-bottom: 0 !important;
}

.rm-padding-left {
  padding-left: 0 !important;
}

.margin-top {
  margin-top: $global-margin !important;
}

.margin-right {
  margin-right: $global-margin !important;
}

.margin-bottom {
  margin-bottom: $global-margin !important;
}

.margin-left {
  margin-left: $global-margin !important;
}

.offset-checkbox {
  margin-left: $checkbox-size + $global-input-radio-margin;
}

.rm-margin-top {
  margin-top: 0 !important;
}

.rm-margin-right {
  margin-right: 0 !important;
}

.rm-margin-bottom {
  margin-bottom: 0 !important;
}

.rm-margin-left {
  margin-left: 0 !important;
}

.rm-margin {
  margin: 0 !important;
}

.rm-padding {
  padding: 0 !important;
}

// UI styles
.glyph {
  border-radius: $global-radius;
  text-align: center;
  width: 140px;
  height: 120px;
  float: left;
  display: block;
  padding: 10px 5px;
  margin: 5px;
  border: 1px solid $border-color;

  .mls {
    display: block;
  }

  .ski {
    color: $grey-1;
    font-size: 40px;
    line-height: 60px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  .flex-expanded-cell {
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
  }
}

.new-project {
  line-height: $global-form-element-height;

  &-title {
    font-size: 18px;
    color: $black-1;
    padding: 0 24px 0 8px;
    line-height: 34px;
  }
}

pre {
  position: relative;
  margin-bottom: $global-padding;
  button {
    @include sk-button-small;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s;
  }
  &:hover button {
    opacity: 1;
  }
}

.thumbnail {
  @include thumbnail;
  @include thumbnail-size($global-thumbnail-size);
}
