@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../node_modules/highlight.js/styles/monokai';
@import 'mixins';
@import 'variables';
@import 'components/normalize';
@import 'icons/icons';
@import 'components/layout';
@import 'components/loading';
@import 'components/buttons';
@import 'components/forms/forms';
@import 'components/grid';
@import 'components/terminal';
@import 'components/misc';
@import 'components/colors';
@import 'components/callout';
@include skedulo-callout;
@import 'components/app';

// Temporal heading styles
// To be replaced with sked-ui once available
h2, .h2 {
  font-size: 16px;
  font-weight: 500;
}

h3, .h3 {
  font-size: 14px;
  font-weight: 500;
}
